/* Variables */
:root {
    --color-bg: hsl(0, 0%, 98%);
    --primary-red: hsl(0, 78%, 62%);
    --primary-cyan: hsl(180, 62%, 55%);
    --primary-orange: hsl(34, 97%, 64%);
    --primary-blue: hsl(212, 86%, 64%);
    --neutral-grey-500: hsl(234, 12%, 34%);
    --neutral-grey-400: hsl(212, 6%, 44%);
    --neutral-white: hsl(0, 0%, 100%);
    --color-footer: hsl(228, 45%, 44%);
    --cards-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
}

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Background */
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-bg);
}

/* Content */
main {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 23.4375rem;
    justify-content: center;
    justify-items: center;
    align-content: center;
    gap: 3.75rem;

    @media (min-width: 1440px) {
        grid-template-columns: repeat(3, 21.875rem);
        row-gap: 4.625rem;
        column-gap: 0;

        header {
            grid-column: 1 / -1;
            width: 100%;
            max-width: 33.75rem;

            h1 {
                font-size: 2.25rem;
            }

        }

        .cards {
            width: 21.875rem;
            display: grid;
            grid-template-columns: repeat(3, 21.875rem);
            gap: 2rem;
            grid-column: 1 / -1;
            justify-content: center;
            grid-template-areas:
                "supervisor team-builder calculator"
                "supervisor karma calculator";

            article {
                width: 21.875rem;
            } 

            .card-supervisor {
                grid-area: supervisor;
                align-self: center;
                justify-items: center;
            }

            .card-team-builder {
                grid-area: team-builder;
                justify-items: center;
            }

            .card-karma {
                grid-area: karma;
                justify-content: center;
            }

            .card-calculator {
                grid-area: calculator;
                align-self: center;
                justify-items: end;
            }
        }
    }
}

/* Header */
header {
    width: 19.75rem;
    color: var(--neutral-grey-500);
    line-height: 1.40;
    letter-spacing: 0.25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h1 {
        font-weight: 600;
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 0.05rem;

        span {
            font-weight: 200;
        }
    }

    p {
        font-weight: 400;
        font-size: 0.9375rem;
        letter-spacing: 0.1px;
    }
}

/* Cards */
.cards {
    width: 19.625rem;
    display: flex;
    flex-direction: column;
    gap: 1.95rem;

    article {
        background-color: var(--neutral-white);
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 1.75rem 2rem 3rem 2rem;
        border-radius: 8px;
        box-shadow: var(--cards-shadow);

        img {
            width: 4rem;
            height: 4rem;
            margin-left: auto;
        }

        .cards-content {
            display: flex;
            flex-direction: column;
            gap: 0.375rem;

            h2 {
                color: var(--neutral-grey-500);
                font-size: 1.25rem;
                line-height: 1.35;
                font-weight: 600;
            }

            p {
                color: var(--neutral-grey-400);
                font-size: 0.8125rem;
                line-height: 1.6;
                font-weight: 400;
                letter-spacing: 0.09px;
            }
        }

        &.card-supervisor {
            border-top: 4px solid var(--primary-cyan);
        }

        &.card-team-builder {
            border-top: 4px solid var(--primary-red);
        }

        &.card-karma {
            border-top: 4px solid var(--primary-orange);
        }

        &.card-calculator {
            border-top: 4px solid var(--primary-blue);
        }
    }
}

/* Footer */
.attribution {
    font-size: 0.6875rem;
    text-align: center;

    a {
        color: var(--color-footer);
    }
}